.mrs_stockmann {
    color: aqua;
    color:chocolate;
}

.hovstad {
    color: violet;
    font-family: italic;
    text-decoration: dashed;
}

.peter_stockmann {
    color: skyblue;
    font-style: italic;
}

.peter_stockmann:hover {
    text-shadow: 2px 2px 4px #ff57ff;
    border: 2px solid #FF5733;
    cursor: pointer;
}

.hovstad:hover {
    text-shadow:2px 2px 4px chartreuse;
    border:2px solid rgb(128, 204, 240);
    cursor: pointer;
}

.mrs_stockmann:hover {
    text-shadow:2px 2px 4px fuchsia;
    border:2px solid lawngreen;
    cursor: pointer;
}
.direction:hover {
    color: black;
    width: 200px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.direction {
    width: 100vw;
    color: black;
    background-color: chocolate;
}

.speech {
    color: black;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 24px;
}

th, td {
    border: 3px solid #10e71e;
    padding: 15px;
    text-align: center;
    color:darkorchid;z
}

 
th {
    background-color: #cae67e;  
}

tr:nth-child(even) {
    background-color:burlywood;
  }

  .navigation{
    display: flex;
  }
 