.mrs_stockmann {
    color: aqua;
    color:chocolate;
}

.hovstad {
    color: violet;
    font-family: italic;
    text-decoration: dashed;
}

.peter_stockmann {
    color: skyblue;
    font-style: italic;
}

.direction:hover {
    color: black;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.speech {
    color: black;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}